Repository understories/p2pmentor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 1000, prettier --write

debug: add console logging for review mode password hashing
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

debug: add password hash test script and console logging
  scripts/test-password-hash.cjs
Due: none

debug: add password value logging to diagnose input capture issue
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: trim password input to remove accidental whitespace
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: ensure expiresIn is always integer to prevent BigInt conversion error
  lib/arkiv/reviewModeGrant.ts
Due: eslint --fix --max-warnings 1000, prettier --write

refactor: change review mode to toggle button with inline password input
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: remove modal references and add review mode check to WalletConnect
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: add explicit validation to ensure server signer is used for grant issuance
  lib/arkiv/reviewModeGrant.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Verify review mode password before wallet connection
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add review mode onboarding page with all M1 acceptance criteria steps
  app/review/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Handle brand new wallet in review mode with retry and beta access
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Reset connecting state when activating review mode
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Skip SDK on desktop with extension to avoid provider issues
  lib/auth/metamask-sdk.ts
  lib/auth/metamask.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Clear wallet_address on /auth mount to prevent auto-login
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Reset isConnecting state in all code paths
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Always force account selection on /auth page
  lib/auth/metamask.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Add cleanup on unmount and clear connection method
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

debug: Add comprehensive logging to review mode flow
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

debug: Add logging to WalletConnect and /review page
  app/review/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

debug: Add logging to WalletConnect review mode activation
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Add comprehensive Arkiv Patterns Catalog
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/README.md
  docs/betadocs/arkiv/patterns/stable-entity-key-updates.md
Due: prettier --write

fix: Pass address directly to handleReviewModeActivate to fix state timing
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Update remaining handleReviewModeActivate call to pass address
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add Create/Edit Profile button at top of review page
  app/review/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Extract PAT-IDENTITY-001 and PAT-SPACE-001 patterns
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/space-isolation.md
  docs/betadocs/arkiv/patterns/wallet-normalization.md
Due: prettier --write

docs: Extract PAT-OPTIMISTIC-001 pattern
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/optimistic-ui-reconciliation.md
Due: prettier --write

docs: Fix PAT-OPTIMISTIC-001 cross-reference table entry
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

fix: Check cookies for beta access on reload and auto-create beta_access for review mode
  app/api/arkiv-review/grant/route.ts
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Extract PAT-IDEMPOTENT-001 pattern
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/idempotent-writes.md
Due: prettier --write

docs: Extract PAT-PAGINATION-001 pattern
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/pagination-conventions.md
Due: prettier --write

docs: Extract PAT-UPSERT-001 pattern
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/canonical-upsert.md
Due: prettier --write

docs: Fix PAT-UPSERT-001 cross-reference table entry
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

docs: Extract PAT-INDEXER-001 pattern
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/indexer-lag-handling.md
Due: prettier --write

docs: Fix PAT-INDEXER-001 cross-reference table entry
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

docs: Extract PAT-REVOKE-001 pattern
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/revocation-pattern.md
Due: prettier --write

docs: Fix PAT-REVOKE-001 cross-reference table entry
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

docs: Extract PAT-REF-001 pattern (final implicit pattern)
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/patterns/reference-integrity.md
Due: prettier --write

docs: Fix PAT-REF-001 cross-reference table entry
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

docs: Clean up outdated Document Classification section
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

docs: Remove outdated extraction status checkboxes
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 1000: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
