Repository understories/p2pmentor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 1000, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 1000",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ]
}

feat(template-1): Add create record page with optimistic UI
  extractions/arkiv-nextjs-starter/app/records/new/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add GET handler for listing records
  extractions/arkiv-nextjs-starter/app/api/records/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add root layout, global styles, and home page
  extractions/arkiv-nextjs-starter/app/globals.css
  extractions/arkiv-nextjs-starter/app/layout.tsx
  extractions/arkiv-nextjs-starter/app/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add seed script for demo records
  extractions/arkiv-nextjs-starter/scripts/seed.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add smoke test with reconciliation (no timing assumptions)
  extractions/arkiv-nextjs-starter/scripts/smoke-test.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add CI workflow and precommit script from AI kit
  extractions/arkiv-nextjs-starter/.github/workflows/ci.yml
  extractions/arkiv-nextjs-starter/scripts/precommit-check.sh
Due: none

feat(template-1): Add patterns-used.md documenting all demonstrated patterns
  extractions/arkiv-nextjs-starter/docs/patterns-used.md
Due: prettier --write

feat(template-1): Add failure-modes.md with common issues and solutions
  extractions/arkiv-nextjs-starter/docs/failure-modes.md
Due: prettier --write

feat(template-1): Add comprehensive README with all required sections
  extractions/arkiv-nextjs-starter/README.md
Due: prettier --write

feat(template-1): Add remaining template files (PR template, Engineering Guidelines)
  extractions/arkiv-nextjs-starter/app/records/[id]/page.tsx
  extractions/arkiv-nextjs-starter/docs/ENGINEERING_GUIDELINES.md
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add .env.example with testnet defaults
  extractions/arkiv-nextjs-starter/.env.example
Due: none

feat(template-1): Add Next.js config, Tailwind CSS setup
  extractions/arkiv-nextjs-starter/next.config.js
  extractions/arkiv-nextjs-starter/postcss.config.js
  extractions/arkiv-nextjs-starter/tailwind.config.js
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add Tailwind dependencies and .gitignore
  extractions/arkiv-nextjs-starter/.gitignore
  extractions/arkiv-nextjs-starter/package.json
Due: prettier --write

fix(template-1): Fix import paths for app-kit (relative to template root)
  extractions/arkiv-nextjs-starter/app/api/records/route.ts
  extractions/arkiv-nextjs-starter/scripts/smoke-test.ts
  extractions/arkiv-nextjs-starter/src/lib/arkiv/queries.ts
  extractions/arkiv-nextjs-starter/src/lib/arkiv/writes.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix(template-1): Correct import paths for app-kit (verified relative paths)
  extractions/arkiv-nextjs-starter/app/api/records/route.ts
  extractions/arkiv-nextjs-starter/src/lib/arkiv/queries.ts
  extractions/arkiv-nextjs-starter/src/lib/arkiv/writes.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix(template-1): Fix remaining import path in client.ts
  extractions/arkiv-nextjs-starter/src/lib/arkiv/client.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add CONTRIBUTING.md pointing to Engineering Guidelines
  extractions/arkiv-nextjs-starter/docs/CONTRIBUTING.md
Due: prettier --write

docs: Update arkiv-app-primitives betadoc with accurate function signatures
  docs/betadocs/arkiv/extractions/arkiv-app-primitives.md
Due: prettier --write

docs: Add cross-links between extraction betadocs and improve navigation
  docs/betadocs/arkiv/extractions/README.md
  docs/betadocs/arkiv/extractions/ai-agent-kit.md
Due: prettier --write

docs: Fix navigation link in extractions README
  docs/betadocs/arkiv/extractions/README.md
Due: prettier --write

docs: Add betadoc for Arkiv Next.js Starter template
  docs/betadocs/arkiv/extractions/README.md
  docs/betadocs/arkiv/extractions/arkiv-nextjs-starter.md
Due: prettier --write

remove old ai-agent-kid doc
  docs/betadocs/arkiv/ai-agent-kit.md
Due: prettier --write

docs: Apply high-leverage fixes (naming consistency, contract defaults, flow diagram, invocation pattern, chooser matrix)
  docs/betadocs/arkiv/extractions/README.md
  docs/betadocs/arkiv/extractions/ai-agent-kit.md
  docs/betadocs/arkiv/extractions/arkiv-app-primitives.md
  docs/betadocs/arkiv/extractions/arkiv-nextjs-starter.md
Due: prettier --write

docs: Standardize naming to 'Arkiv App Kit' with primitives as internal concept
  docs/betadocs/arkiv/extractions/arkiv-app-primitives.md
  extractions/arkiv-app-kit/README.md
Due: prettier --write

docs: Add flow diagram and update policy to Next.js starter README
  extractions/arkiv-nextjs-starter/README.md
Due: prettier --write

docs: Add invocation pattern and 'when NOT to use Arkiv' section to AI kit README
  extractions/arkiv-ai-agent-kit/README.md
Due: prettier --write

docs: Add contract defaults, pattern mapping, and canonical signatures to app-kit README
  extractions/arkiv-app-kit/README.md
Due: prettier --write

docs: Fix final naming reference in extractions README
  docs/betadocs/arkiv/extractions/README.md
Due: prettier --write

fix: Resolve build error (path alias) and docs routing (directory README support)
  app/api/docs/content/route.ts
  app/api/docs/list/route.ts
  extractions/arkiv-nextjs-starter/app/api/records/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Correct relative paths to arkiv-app-kit in Next.js starter
  extractions/arkiv-nextjs-starter/app/api/records/route.ts
  extractions/arkiv-nextjs-starter/src/lib/arkiv/queries.ts
  extractions/arkiv-nextjs-starter/src/lib/arkiv/writes.ts
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Add query limit philosophy, indexer policy distinction, conformance test, and mainnet readiness explanation
  docs/betadocs/arkiv/extractions/arkiv-app-primitives.md
  docs/betadocs/arkiv/extractions/arkiv-nextjs-starter.md
  extractions/arkiv-app-kit/README.md
  extractions/arkiv-nextjs-starter/README.md
Due: prettier --write

feat: Convert smoke test to minimal conformance test with 5 invariant checks
  extractions/arkiv-nextjs-starter/package.json
  extractions/arkiv-nextjs-starter/scripts/smoke-test.ts
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Add Contract Defaults section with query limits and indexer policy to app-kit README
  extractions/arkiv-app-kit/README.md
Due: prettier --write

fix file title numbering
  extractions/arkiv-ai-agent-kit/PROMPTS/01_arkiv_entity_patterns.md
  extractions/arkiv-ai-agent-kit/PROMPTS/02_query_shapes.md
  extractions/arkiv-ai-agent-kit/PROMPTS/03_timeouts_and_retries.md
  extractions/arkiv-ai-agent-kit/PROMPTS/04_debug_playbook.md
Due: prettier --write

Add full MIT license
  LICENSE
  README.md
  package.json
  scripts/generate-static-html.ts
  static-app/layouts/_default/baseof.html
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Fix all broken links in betadocs after refactoring
  docs/betadocs/architecture/graphql-performance.md
  docs/betadocs/architecture/integrations/graphql-integration.md
  docs/betadocs/architecture/modules/graphql-api.md
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/entities/ask.md
  docs/betadocs/arkiv/entities/availability.md
  docs/betadocs/arkiv/entities/data-model.md
  docs/betadocs/arkiv/entities/notification.md
  docs/betadocs/arkiv/entities/offer.md
  docs/betadocs/arkiv/entities/profile.md
  docs/betadocs/arkiv/entities/review-ui.md
  docs/betadocs/arkiv/entities/session.md
  docs/betadocs/arkiv/operations/invite-code-system.md
  docs/betadocs/arkiv/overview/entity-overview.md
  docs/betadocs/arkiv/toolkits/arkiv-nextjs-starter.md
  scripts/audit-betadocs-links.py
Due: prettier --write

Fix MetaMask connection popup disappearing on first connect
  lib/auth/metamask.ts
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Fix broken links in arkiv-patterns-catalog redirect stub
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
Due: prettier --write

docs: Rename patterns/README.md to pattern-catalog.md for better UX
  LICENSE
  app/api/docs/list/route.ts
  app/profiles/page.tsx
  docs/betadocs/arkiv/README.md
  docs/betadocs/arkiv/arkiv-patterns-catalog.md
  docs/betadocs/arkiv/availability.md
  docs/betadocs/arkiv/operations/README.md
  docs/betadocs/arkiv/patterns/pattern-catalog.md
  docs/betadocs/arkiv/profile-creation-flow.md
  docs/betadocs/arkiv/toolkits/README.md
  docs/betadocs/arkiv/top-8-patterns.md
  docs/betadocs/arkiv/wallet-authentication-flow.md
  docs/betadocs/introduction/documentation-tour.md
  docs/betadocs/philosophy/license.md
Due: eslint --fix --max-warnings 1000, prettier --write
