Repository understories/p2pmentor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 1000, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 1000",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ]
}

feat: Add quiz result entity functions for Week 2
  lib/arkiv/quizResult.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Correct import path for Arkiv SDK query functions
  lib/arkiv/quizResult.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Convert boolean to string for Arkiv attribute value
  lib/arkiv/quizResult.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Handle string | number type for Arkiv attribute values
  lib/arkiv/quizResult.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Correct passed attribute comparison to handle string/number types
  lib/arkiv/quizResult.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add quiz submission API endpoint for Week 2
  app/api/quests/quiz/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

chore: add eslint config for next.js and typescript
  .eslintrc.cjs
Due: none

chore: add prettier config and ignore patterns
  .prettierignore
  .prettierrc
Due: none

chore: add lint-staged config for pre-commit hooks
  .lintstagedrc
Due: none

chore: add vitest config and test setup
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix --max-warnings 1000, prettier --write

chore: add example test file for vitest
  __tests__/example.test.ts
Due: eslint --fix --max-warnings 1000, prettier --write

chore: add test scripts and dev dependencies for vitest, prettier, husky
  package.json
Due: prettier --write

chore: exclude vitest config files from typescript compilation
  tsconfig.json
Due: prettier --write

chore: add husky pre-commit hook for lint-staged
  .husky/pre-commit
Due: none

chore: add github actions ci workflow
  .github/workflows/ci.yml
Due: none

chore: add eslint and eslint-config-next to devDependencies
  package.json
Due: prettier --write

fix: remove invalid max-warnings rule from eslint config
  .eslintrc.cjs
Due: none

fix: resolve typescript error in example test
  __tests__/example.test.ts
Due: eslint --fix --max-warnings 1000, prettier --write

chore: add @playwright/test for e2e testing (phase 2)
  package.json
Due: prettier --write

chore: add playwright config for e2e tests
  playwright.config.ts
Due: eslint --fix --max-warnings 1000, prettier --write

chore: add smoke tests for basic page rendering
  e2e/smoke.spec.ts
Due: eslint --fix --max-warnings 1000, prettier --write

chore: add e2e scripts to package.json
  package.json
Due: prettier --write

chore: add e2e job to ci workflow
  .github/workflows/ci.yml
Due: none

chore: update lockfile and exclude playwright from tsconfig
  .github/workflows/sync-quest-entities.yml
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: update playwright to match next.js peer requirement
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: adjust ci security scan and make format/lint non-blocking
  .github/workflows/ci.yml
Due: none

feat(lite): add nsfeb26 as new default space for February cohort
  app/api/lite/asks/route.ts
  app/api/lite/offers/route.ts
  app/lite/page.tsx
  components/explorer/AllTransactionsList.tsx
  components/explorer/EntityList.tsx
  docs/betadocs/user-flows/lite-version.md
  lib/arkiv/liteAsks.ts
  lib/arkiv/liteOffers.ts
  lib/explorer/index.ts
  lib/explorer/transactions.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: resolve ESLint errors blocking Vercel build
  .eslintrc.cjs
  app/admin/m1-exam/page.tsx
  app/api/admin/graphql-flags/route.ts
  lib/explorer/index.ts
  lib/identity/rootIdentity.ts
  lib/metrics/actionCompletion.ts
  lib/metrics/clientPerf.ts
  lib/notifications.ts
  lib/onboarding/useOnboardingLevel.ts
  lib/payments.ts
  lib/quests/questLoader.ts
  next.config.js
Due: eslint --fix --max-warnings 1000, prettier --write

fix: align CI pnpm version with lockfile and exclude e2e from vitest
  .github/workflows/ci.yml
  vitest.config.ts
Due: eslint --fix --max-warnings 1000, prettier --write

docs: add CI/CD pipeline documentation to betadocs
  docs/betadocs/architecture/README.md
  docs/betadocs/meta/outline.md
  docs/betadocs/philosophy/engineering-guidelines.md
  docs/betadocs/practices/ci-cd.md
  docs/betadocs/practices/developer-experience.md
Due: prettier --write

feat: add QuizRenderer component for interactive quiz steps
  app/quests/[trackId]/page.tsx
  components/quests/QuestStepRenderer.tsx
  components/quests/QuizRenderer.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: FlashcardPractice renders Spanish vocabulary and mobile sizing
  components/quests/FlashcardPractice.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add Arkiv entity functions for quest reflections
  lib/arkiv/reflection.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add Arkiv entity functions for quest telemetry
  lib/arkiv/questTelemetry.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add Arkiv entity functions for quest leaderboard
  lib/arkiv/questLeaderboard.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add client-side telemetry utility
  lib/telemetry.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add API route for quest reflections
  app/api/quests/reflection/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add API route for quest telemetry
  app/api/quests/telemetry/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add API route for featured quests
  app/api/quests/featured/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add API route for quest completion leaderboard
  app/api/quests/leaderboard/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write
