Repository understories/p2pmentor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 1000, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 1000",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ]
}

Complete WalletConnect Phase 0 implementation
  app/auth/page.tsx
  components/navigation/BottomNav.tsx
  components/navigation/SidebarNav.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

Add explicit logging for WalletConnect error scenarios
  lib/wallet/getWalletClient.ts
Due: eslint --fix --max-warnings 1000, prettier --write

Add recommended for metamask connection
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

Update decentralized-static-client.md
  docs/betadocs/architecture/decentralized-static-client.md
Due: prettier --write

Fix WalletConnect connection conflict with existing MetaMask
  app/auth/page.tsx
  lib/auth/walletconnect.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add meta-learning quest backend (types, library, API routes, seed script)
  app/api/learner-quests/meta-learning/artifact/route.ts
  app/api/learner-quests/meta-learning/completion/route.ts
  app/api/learner-quests/meta-learning/progress/route.ts
  app/api/learner-quests/route.ts
  lib/arkiv/learnerQuest.ts
  lib/arkiv/metaLearningQuest.ts
  scripts/seed-meta-learning-quest.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add meta-learning quest UI components (TTLControl, ConceptCard)
  components/learner-quests/ConceptCard.tsx
  components/learner-quests/TTLControl.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Integrate meta-learning quest into quest list
  app/api/learner-quests/create/route.ts
  app/learner-quests/meta_learning/page.tsx
  app/learner-quests/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

chore: Add static build test script
  package.json
  scripts/test-static.sh
Due: prettier --write

fix: Use formatSessionTitle for sidebar skill display
  components/navigation/SidebarNav.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add meta-learning quest to profiles and learning quests page
  app/learner-quests/page.tsx
  app/me/page.tsx
  app/me/profile/page.tsx
  app/profiles/[wallet]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Add error handling for meta-learning quest progress
  app/api/learner-quests/meta-learning/progress/route.ts
  app/learner-quests/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Update auth warning to clarify no funds needed
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Load meta-learning quest from JSON file
  app/api/learner-quests/route.ts
  lib/arkiv/learnerQuest.ts
  static-data/meta-learning-quest.json
Due: eslint --fix --max-warnings 1000, prettier --write

refine: Make meta-learning quest JSON implementation-grade
  app/api/learner-quests/route.ts
  lib/arkiv/learnerQuest.ts
  static-data/meta-learning-quest.json
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Fully implement meta-learning quest with all 6 steps
  app/learner-quests/meta_learning/page.tsx
  app/learner-quests/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add Meta-Learning Quest section to profile page
  app/me/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

refine: Shorten meta-learning quest title to 'Learn How to Learn'
  static-data/meta-learning-quest.json
Due: prettier --write

refine: Change meta-learning quest badge from 'Reading List' to 'Activity Quest'
  app/learner-quests/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

Fix admin beta code logic: use walletCount as source of truth for usage
  app/admin/page.tsx
  app/api/admin/beta-code-usage/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

Update betadocs: clarify usage count equals unique wallets
  docs/betadocs/arkiv/additional-entities/beta-code.md
  docs/betadocs/philosophy/tracking-and-privacy.md
Due: prettier --write

feat: add server-signed review mode grant helpers
  lib/arkiv/reviewModeGrant.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add API route for review mode grant minting
  app/api/arkiv-review/grant/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add password modal for review mode grant request
  components/auth/ReviewModePasswordModal.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add review mode entry flow with password verification
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add review mode profile creation page
  app/arkiv-review/profile/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

docs: add public documentation for access grant pattern
  docs/betadocs/arkiv/access-grants.md
Due: prettier --write

refactor: rename mintReviewModeGrant to issueReviewModeGrant
  lib/arkiv/reviewModeGrant.ts
Due: eslint --fix --max-warnings 1000, prettier --write

refactor: update API route to use 'issue' terminology
  app/api/arkiv-review/grant/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

refactor: update auth page to use 'issue' terminology
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

refactor: update modal text to use 'issue' terminology
  components/auth/ReviewModePasswordModal.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: update function call to issueReviewModeGrant
  app/api/arkiv-review/grant/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

refactor: update comments to use 'issue' instead of 'mint'
  lib/arkiv/reviewModeGrant.ts
Due: eslint --fix --max-warnings 1000, prettier --write

refactor: standardize attribute naming to snake_case and make issuer verification mandatory
  lib/arkiv/reviewModeGrant.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: add defensive beta_access check in grant API route
  app/api/arkiv-review/grant/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

docs: update access grants doc to reflect app-signed grants
  docs/betadocs/arkiv/access-grants.md
Due: prettier --write

fix: update remaining error message to use 'issue' terminology
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

docs: add NEXT_PUBLIC_ARKIV_REVIEW_PASSWORD_SHA256 to .env.example
  .env.example
Due: none

docs: refine access grants security model section
  docs/betadocs/arkiv/access-grants.md
Due: prettier --write

feat: add Arkiv Review Mode button to auth page
  app/auth/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write
