Repository understories/p2pmentor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 1000, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 1000",
    "prettier --write"
  ],
  "*.{json,md,css}": [
    "prettier --write"
  ]
}

docs: Improve related documentation links in review-ui.md
  docs/betadocs/arkiv/review-ui.md
Due: prettier --write

Add AGENTS.md for Arkiv AI Agent Operating Manual
  extractions/arkiv-ai-agent-kit/AGENTS.md
Due: prettier --write

Add PROMPTS/00_repo_rules.md - Repo-level rules (CI-enforced)
  extractions/arkiv-ai-agent-kit/PROMPTS/00_repo_rules.md
Due: prettier --write

Add PROMPTS/05_docs_separation.md - Public docs vs internal procedures
  extractions/arkiv-ai-agent-kit/PROMPTS/05_docs_separation.md
Due: prettier --write

Add PROMPTS/10_arkiv_entity_patterns.md - Arkiv application patterns
  extractions/arkiv-ai-agent-kit/PROMPTS/10_arkiv_entity_patterns.md
Due: prettier --write

Add PROMPTS/20_query_shapes.md - Query shapes and defensive reading
  extractions/arkiv-ai-agent-kit/PROMPTS/20_query_shapes.md
Due: prettier --write

Add PROMPTS/30_timeouts_and_retries.md - Timeouts, retries, and submitted vs indexed
  extractions/arkiv-ai-agent-kit/PROMPTS/30_timeouts_and_retries.md
Due: prettier --write

Add PROMPTS/40_debug_playbook.md - Systematic debug playbook
  extractions/arkiv-ai-agent-kit/PROMPTS/40_debug_playbook.md
Due: prettier --write

Add docs/CHECKLISTS.md - PR and review checklists
  extractions/arkiv-ai-agent-kit/docs/CHECKLISTS.md
Due: prettier --write

Add scripts/precommit-check.sh - Precommit validation script
  extractions/arkiv-ai-agent-kit/scripts/precommit-check.sh
Due: none

Add scripts/derive-signer-address.mjs - Manual signer address derivation helper
  extractions/arkiv-ai-agent-kit/scripts/derive-signer-address.mjs
Due: none

Add .github/workflows/ci.yml - CI workflow enforcing Engineering Guidelines
  extractions/arkiv-ai-agent-kit/.github/workflows/ci.yml
Due: none

Add docs/ENGINEERING_GUIDELINES.md - Public-safe version for Arkiv builders
  extractions/arkiv-ai-agent-kit/docs/ENGINEERING_GUIDELINES.md
Due: prettier --write

Add README.md for Arkiv AI Agent Kit
  extractions/arkiv-ai-agent-kit/README.md
Due: prettier --write

docs: Add public-facing betadoc for Arkiv AI Agent Kit
  docs/betadocs/arkiv/ai-agent-kit.md
Due: prettier --write

feat(arkiv-app-kit): Add package.json for Arkiv App Primitives
  extractions/arkiv-app-kit/package.json
Due: prettier --write

feat(arkiv-app-kit): Add TypeScript configuration
  extractions/arkiv-app-kit/tsconfig.json
Due: prettier --write

feat(arkiv-app-kit): Add env.ts with requireEnv and ARKIV_TARGET helpers
  extractions/arkiv-app-kit/src/env.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add wallet.ts with normalization helpers
  extractions/arkiv-app-kit/src/wallet.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add space.ts with fail-closed Space ID management
  extractions/arkiv-app-kit/src/space.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add schema.ts with canonical attribute keys and makeAttributes helper
  extractions/arkiv-app-kit/src/schema.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add client.ts with public and wallet client construction
  extractions/arkiv-app-kit/src/client.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add queries.ts with safe query builders and result validation
  extractions/arkiv-app-kit/src/queries.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add transactions.ts with timeout handling and error classification
  extractions/arkiv-app-kit/src/transactions.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add keys.ts with stable entity key derivation
  extractions/arkiv-app-kit/src/keys.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add indexer.ts with polling helpers (strongly recommended)
  extractions/arkiv-app-kit/src/indexer.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix(arkiv-app-kit): Add TXHASH to ATTR_KEYS and fix txhash-entities.ts
  extractions/arkiv-app-kit/src/schema.ts
  extractions/arkiv-app-kit/src/txhash-entities.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add index.ts with main exports
  extractions/arkiv-app-kit/src/index.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(arkiv-app-kit): Add comprehensive README with usage examples
  extractions/arkiv-app-kit/README.md
Due: prettier --write

fix(arkiv-app-kit): Fix TypeScript errors (module resolution, imports, window types)
  extractions/arkiv-app-kit/src/client.ts
  extractions/arkiv-app-kit/src/queries.ts
  extractions/arkiv-app-kit/src/txhash-entities.ts
  extractions/arkiv-app-kit/tsconfig.json
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Move AI Agent Kit betadoc to extractions folder and add README
  docs/betadocs/arkiv/extractions/README.md
  docs/betadocs/arkiv/extractions/ai-agent-kit.md
Due: prettier --write

docs: Add public-facing betadoc for Arkiv App Primitives package
  docs/betadocs/arkiv/extractions/README.md
  docs/betadocs/arkiv/extractions/arkiv-app-primitives.md
Due: prettier --write

feat(ai-kit): Add Next.js template skeleton with app-kit integration guide
  extractions/arkiv-ai-agent-kit/templates/nextjs/README.md
Due: prettier --write

feat(template-1): Add package.json for Next.js starter
  extractions/arkiv-nextjs-starter/package.json
Due: prettier --write

feat(template-1): Add TypeScript configuration
  extractions/arkiv-nextjs-starter/tsconfig.json
Due: prettier --write

feat(template-1): Add Arkiv client setup using app-kit
  extractions/arkiv-nextjs-starter/src/lib/arkiv/client.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add query helpers using app-kit
  extractions/arkiv-nextjs-starter/src/lib/arkiv/queries.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add write helpers with timeout handling and txHash entities
  extractions/arkiv-nextjs-starter/src/lib/arkiv/writes.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add API route for server-signed writes with error handling
  extractions/arkiv-nextjs-starter/app/api/records/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat(template-1): Add records list page with optimistic UI
  extractions/arkiv-nextjs-starter/app/records/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write
