Repository understories/p2pmentor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 1000, prettier --write

fix: suppress false positive hook lint in PasskeyLoginButton
  components/auth/PasskeyLoginButton.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: suppress false positive hook lint in networkGraph
  lib/arkiv/networkGraph.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: add missing key prop to nav item wrapper div in SidebarNav
  components/navigation/SidebarNav.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: exclude next-env.d.ts from eslint
  .eslintrc.cjs
Due: none

style: format remaining .cjs and .html files missed by initial pass
  postcss.config.cjs
  static-app/layouts/_default/baseof.html
  static-app/layouts/_default/list.html
Due: none

fix: raise lint max-warnings to 2000 to account for pre-existing warnings
  package.json
Due: prettier --write

Default lite asks to nsapril26 space id.
  lib/arkiv/liteAsks.ts
Due: eslint --fix --max-warnings 1000, prettier --write

Default lite offers to nsapril26 space id.
  lib/arkiv/liteOffers.ts
Due: eslint --fix --max-warnings 1000, prettier --write

Lite asks API defaults to nsapril26.
  app/api/lite/asks/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

Lite offers API defaults to nsapril26.
  app/api/lite/offers/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

/lite page: April cohort copy and nsapril26 default space.
  app/lite/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

Explorer index includes nsapril26 for lite entities.
  lib/explorer/index.ts
Due: eslint --fix --max-warnings 1000, prettier --write

Explorer transactions query includes nsapril26.
  lib/explorer/transactions.ts
Due: eslint --fix --max-warnings 1000, prettier --write

Entity list space filter includes nsapril26.
  components/explorer/EntityList.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

All transactions lists include nsapril26 space option.
  components/explorer/AllTransactionsList.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

chore(deps): upgrade @arkiv-network/sdk to 0.6.7 for Braga chain
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: add unit tests for Braga explorer URLs and chain config
  __tests__/lib/arkiv/network-config.test.ts
Due: eslint --fix --max-warnings 1000, prettier --write

test: avoid CI false positive on anvil key in network-config test
  __tests__/lib/arkiv/network-config.test.ts
Due: eslint --fix --max-warnings 1000, prettier --write

ci: use pnpm 9 for lockfile v9; ignore .claude for Prettier
  .github/workflows/ci.yml
  .prettierignore
Due: none

docs: add Braga migration page under arkiv operations
  app/api/docs/list/route.ts
  docs/betadocs/arkiv/operations/braga-migration.md
Due: eslint --fix --max-warnings 1000, prettier --write

Path conditions:
  eslint --fix --max-warnings 1000: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
