Repository understories/p2pmentor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 1000, prettier --write

feat: Add quest definition entity functions
  lib/arkiv/questDefinition.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add dual-mode support to quests API
  app/api/quests/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add quest entity sync script
  scripts/sync-quest-entities.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Phase 2 - Entity-first quest API with feature flag
  app/api/quests/route.ts
  lib/config.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add GitHub Action for quest entity sync
  .github/workflows/sync-quest-entities.yml
Due: none

feat: Improve error handling and logging in sync script
  scripts/sync-quest-entities.ts
Due: eslint --fix --max-warnings 1000, prettier --write

refactor: Remove redundant GitHub Action, add admin API route
  app/api/admin/sync-quests/route.ts
  docs/ENGINEERING_GUIDELINES.md
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add entityKey and txHash to quests API response
  app/api/quests/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add entityKey and txHash to badges API GET response
  app/api/badges/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add quest and badge entity info display in Arkiv builder mode
  app/quests/[trackId]/page.tsx
  docs/betadocs/arkiv/entities/proof-of-skill-badge.md
  docs/betadocs/arkiv/entities/quest-definition.md
  docs/betadocs/arkiv/entities/quest-step-progress.md
Due: eslint --fix --max-warnings 1000, prettier --write

docs: Add Quest Engine architecture module documentation
  docs/betadocs/architecture/modules/quest-engine.md
Due: prettier --write

docs: Add quest completion flow documentation
  docs/betadocs/arkiv/flows/quest-completion-flow.md
Due: prettier --write

docs: Update Arkiv documentation indexes for Quest Engine
  docs/betadocs/architecture/modules/README.md
  docs/betadocs/arkiv/entities/README.md
  docs/betadocs/arkiv/entities/data-model.md
  docs/betadocs/arkiv/overview/overview.md
Due: prettier --write

docs: Update entity overview with Quest Engine entities
  docs/betadocs/arkiv/overview/entity-overview.md
Due: prettier --write

feat: Add query tooltips for quest loading and badge operations
  app/quests/[trackId]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Update FlashcardPractice to support Spanish vocabulary format
  components/quests/FlashcardPractice.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add Spanish quest track with 10 steps
  content/quests/spanish/quest.json
Due: prettier --write

feat: Add Spanish quest step content files
  content/quests/spanish/steps/01-greetings.md
  content/quests/spanish/steps/02-numbers.md
  content/quests/spanish/steps/03-family.md
  content/quests/spanish/steps/04-food.md
  content/quests/spanish/steps/06-time.md
  content/quests/spanish/steps/07-places.md
  content/quests/spanish/steps/08-actions.md
  content/quests/spanish/steps/09-concepts.md
Due: prettier --write

feat: Add Cryptography quest track with 8 steps
  content/quests/cryptography/quest.json
  content/quests/cryptography/steps/01-intro.md
  content/quests/cryptography/steps/02-hashing.md
  content/quests/cryptography/steps/03-hash-properties.md
  content/quests/cryptography/steps/04-signatures.md
  content/quests/cryptography/steps/05-keypair.md
  content/quests/cryptography/steps/06-sign-verify.md
  content/quests/cryptography/steps/07-proof.md
Due: prettier --write

feat: Add interactive cryptographic components for quests
  components/quests/HashGenerator.tsx
  components/quests/KeypairGenerator.tsx
  components/quests/QuestStepRenderer.tsx
  components/quests/SignVerifyDemo.tsx
  lib/quests/questFormat.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add Meta-Learning quest track with 10 steps
  content/quests/meta-learning/quest.json
  content/quests/meta-learning/steps/01-intro.md
  content/quests/meta-learning/steps/02-memory.md
  content/quests/meta-learning/steps/03-spaced-repetition.md
  content/quests/meta-learning/steps/04-deliberative-practice.md
  content/quests/meta-learning/steps/05-practice-deliberative.md
  content/quests/meta-learning/steps/06-procedural-learning.md
  content/quests/meta-learning/steps/07-active-recall.md
  content/quests/meta-learning/steps/08-practice-recall.md
  content/quests/meta-learning/steps/09-learning-system.md
Due: prettier --write

feat: Add interactive meta-learning components for quests
  components/quests/ActiveRecallCreator.tsx
  components/quests/DeliberativePracticePlanner.tsx
  components/quests/QuestStepRenderer.tsx
  components/quests/SpacedRepetitionScheduler.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Add missing actionConfig properties for meta-learning components
  lib/quests/questFormat.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Update sync script to use ES module check instead of require.main
  scripts/sync-quest-entities.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add badge display to profile page
  app/me/page.tsx
  lib/arkiv/badge.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add EvidencePanel component for Week 1 proof UX
  components/quests/EvidencePanel.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add track overview and evidence panel to quest detail page
  app/quests/[trackId]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Remove trailing whitespace in quest detail page
  app/quests/[trackId]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add skillSuggestion field to QuestStepDefinition
  lib/quests/questFormat.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add quest completion skill link system
  app/api/skills/from-quest/route.ts
  components/quests/SkillSuggestionPrompt.tsx
  lib/arkiv/questSkillLink.ts
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Correct import for ensureSkillEntity from skill-helpers
  app/api/skills/from-quest/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Integrate skill suggestion prompt into quest detail page
  app/quests/[trackId]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Remove duplicate code and fix handleAddSkillFromQuest signature
  app/quests/[trackId]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Add proper TypeScript check for skillSuggestion
  app/quests/[trackId]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Update SkillSuggestionPrompt callback signature
  app/quests/[trackId]/page.tsx
  components/quests/SkillSuggestionPrompt.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Update handleAddSkillFromQuest to accept stepId parameter
  app/quests/[trackId]/page.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add pending transaction status to skill link API
  app/api/skills/from-quest/route.ts
Due: eslint --fix --max-warnings 1000, prettier --write

feat: Add transaction state handling to SkillSuggestionPrompt
  app/quests/[trackId]/page.tsx
  components/quests/SkillSuggestionPrompt.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Resolve TypeScript narrowing issue in SkillSuggestionPrompt
  components/quests/SkillSuggestionPrompt.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

fix: Correct TypeScript narrowing after early returns
  components/quests/SkillSuggestionPrompt.tsx
Due: eslint --fix --max-warnings 1000, prettier --write

Path conditions:
  eslint --fix --max-warnings 1000: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
